{% load startswith %}

<ul class="menu-services">
  <li><a href="{% url 'home' %}"{% if request.path = '/' %} class="active"{% endif %}>all</a></li>
  <li><a href="{% url 'services:index' 'hackernews' %}"{% if request.path|startswith:'/hackernews/' %} class="active"{% endif %}>hacker news</a></li>
  <li><a href="{% url 'services:index' 'reddit' %}"{% if request.path|startswith:'/reddit/' %} class="active"{% endif %}>reddit</a></li>
  <li><a href="{% url 'services:index' 'github' %}"{% if request.path|startswith:'/github/' %} class="active"{% endif %}>github</a></li>
  <li><a href="{% url 'services:index' 'medium' %}"{% if request.path|startswith:'/medium/' %} class="active"{% endif %}>medium</a></li>
</ul>
