{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheet %}
  <link href="{% static 'css/registration.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
  <script>
    $(function () {
      $('#id_username').focus();
    });
  </script>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <div>
      <button type="submit">Create an account</button>
      <span>Already have an account? <a href="{% url 'login' %}">Login</a></span>
    </div>
  </form>
{% endblock %}
