{% load staticfiles compress %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Woid{% endblock %}</title>
  {% compress css %}
  <link href="{% static 'css/vendor/normalize.css' %}" rel="stylesheet">
  <link href="{% static 'css/woid.css' %}" rel="stylesheet">
  {% block stylesheet %}{% endblock %}
  {% endcompress %}
</head>
<body>
  <header>
    <a href="{% url 'home' %}">woid</a>
    {% if user.is_authenticated %}
      <nav><a href="{% url 'home' %}">{{ user.username }}</a> / <a href="{% url 'logout' %}">logout</a></nav>
    {% else %}
      <nav><a href="{% url 'signup' %}">sign up</a> / <a href="{% url 'login' %}">login</a></nav>
    {% endif %}
  </header>
  <main>
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      <a href="javascript:void(0);" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
      {{ message }}
    </div>
  {% endfor %}
  {% block menu %}
    <h1>top stories<span class="utc"></span></h1>
    {% include 'includes/menu.html' %}
  {% endblock %}
  {% block content %}{% endblock %}
  </main>
  <footer></footer>
  {% compress js %}
  <script src="{% static 'js/ga.js' %}"></script>
  <script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'js/vendor/mustache.min.js' %}"></script>
  <script src="{% static 'js/vendor/moment.min.js' %}"></script>
  <script src="{% static 'js/vendor/moment-timezone-with-data-2010-2020.min.js' %}"></script>
  <script src="{% static 'js/woid.js' %}"></script>
  {% block javascript %}{% endblock %}
  {% endcompress %}
</body>
</html>
