{% extends 'base.html' %}

{% block title %}{{ service.name|title }}'s Archive · Woid{% endblock %}

{% load static calendar_helpers %}

{% block javascript %}
  <script src="{% static 'js/services/stories.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>{{ service.name }} <small>(archive)</small></h2>
  {% include 'services/includes/menu.html' %}
  
  {% for year, months in archive.items %}
    <div class="calendar cf">
      <h3><a href="{% url 'services:year' service.slug year %}">{{ year }}</a></h3>
      <div class="months cf">
        {% for month, days in months.items %}
          <div class="month">
            {% month_calendar year month days service %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

{% endblock %}
