{% extends 'base.html' %}

{% block title %}{{ service.name|title }}'s Archive · Woid{% endblock %}

{% load staticfiles month_name %}

{% block javascript %}
  <script src="{% static 'js/services/stories.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>{{ service.name }} <small>(archive)</small></h2>
  {% include 'services/includes/menu.html' %}
  <ul class="stories">
    {% for year, months in archive.iteritems %}
      <li>
        <a href="{% url 'services:year' service.slug year %}">{{ year }}</a>
        {% for month, days in months.iteritems %}
          <ul>
            <li>
              <a href="{% url 'services:month' service.slug year month %}">{{ month|month_name }}</a>
              <ul>
                {% for day in days %}
                  <li><a href="{% url 'services:day' service.slug year month day %}">{{ day }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
