{% extends 'base.html' %}

{% load static %}

{% block title %}{{ service.name }} · Woid{% endblock %}

{% block javascript %}
  <script src="{% static 'js/services/stories.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>{{ service.name }} <small>({{ subtitle }})</small></h2>
  {% include 'services/includes/menu.html' %}
  <ol class="stories" start="{{ start }}">
    {% for story in stories %}
      {% include service.get_story_template %}
    {% endfor %}
  </ol>

  {% if stories.paginator.num_pages > 1 %}
    <ul class="paginator">
      {% if stories.has_previous %}
        <li><a href="?page={{ stories.previous_page_number }}">&laquo; previous</a></li>
      {% else %}
        <li>&laquo; previous</li>
      {% endif %}

      {% for i in stories.paginator.page_range %}
        {% if stories.number == i %}
          <li>{{ i }}</li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if stories.has_next %}
        <li><a href="?page={{ stories.next_page_number }}">next &raquo;</a></li>
      {% else %}
        <li>next &raquo;</li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
