{% extends 'base.html' %}

{% block content %}
  <h2>cookies</h2>

  <h3>ingredients</h3>
  <ul>
    <li>2 1/2 cups all-purpose flour, (spooned and leveled)</li>
    <li>1/2 teaspoon baking soda</li>
    <li>1/4 teaspoon baking powder</li>
    <li>1/2 teaspoon salt</li>
    <li>1 cup packed dark-brown sugar</li>
    <li>1/2 cup (1 stick) unsalted butter, room temperature</li>
    <li>1/4 cup light corn syrup</li>
    <li>2 large eggs</li>
    <li>2 teaspoons pure vanilla extract</li>
    <li>2 cups semisweet chocolate chips</li>
  </ul>

  <h3>directions</h3>
  <ol>
    <li>Preheat oven to 350 degrees, with racks in upper and lower thirds. In a bowl, whisk together flour, baking soda, baking powder, and salt.</li>
    <li>In a large bowl, using an electric mixer, beat sugar, butter, and corn syrup until light and fluffy. Beat in eggs and vanilla. With mixer on low, gradually add flour mixture, beating just until combined. Fold in chocolate chips.</li>
    <li>Drop dough by tablespoons onto two baking sheets, 2 inches apart. Bake until cookies are no longer shiny, 10 to 12 minutes, rotating sheets halfway through. Let cool 2 minutes; transfer to wire racks, and let cool. Repeat with remaining dough.</li>
  </ol>

  <p>d e l i c i o u s</p>
  
{% endblock %}
