{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>today</li>
    <li><a href="">yestarday</a></li>
    <li><a href="">24/08</a></li>
    <li><a href="">23/08</a></li>
    <li><a href="">22/08</a></li>
    <li><a href="">21/08</a></li>
    <li><a href="">20/08</a></li>
    <li><a href="">19/08</a></li>
    <li><a href="">18/08</a></li>
    <li><a href="">archive</a></li>
  </ul>

  <ol>
    {% for story in hacker_news.get_today_stories %}
      <li>
        <a href="https://news.ycombinator.com/item?id={{ story.code }}" target="_blank">{{ story.title }}</a>
        <small>{{ story.score }} points &bullet; {{ story.comments }} comments</small>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
