{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>today</li>
    <li><a href="">yestarday</a></li>
    <li><a href="">24/08</a></li>
    <li><a href="">23/08</a></li>
    <li><a href="">22/08</a></li>
    <li><a href="">21/08</a></li>
    <li><a href="">20/08</a></li>
    <li><a href="">19/08</a></li>
    <li><a href="">18/08</a></li>
    <li><a href="">archive</a></li>
  </ul>

  <ol>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
    <li>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</li>
    <li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
    <li>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
    <li>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</li>
    <li>proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
  </ol>
{% endblock %}
